[submodule "--force"]
	path = --force
	url = https://github.com/mentaljam/harbour-storeman
[submodule "harbour-storeman"]
	path = harbour-storeman
	url = https://github.com/mentaljam/harbour-storeman
